*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    background-color: #f5ebe0;
    font-family: 'Poppins', sans-serif;
    color: #4b2e2e;
}

header{
    background-color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

header h1{
    color: #6f4e37;
}


.logo{
    font-size:0.9rem;
    font-weight:bold;
}
nav{
    display: flex;
    gap: 2rem;
}
nav a{
    color:#d4a574;
    text-decoration: none;
    transition: color 0.5s ease;
}
nav a:hover{
    color:#f74600;
}

.btn-primary{
    background-color: #d4a574;
    color:white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
}
.btn-primary:hover{
    background-color: #b8935f;
    scale: 0.9;
}

.banner{
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.produtos{
    padding: 4rem 0;
    background-color: #f9f9f9;
}
.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #2c1810;
}
.cards{
    display:flex;
    gap:2rem;
    justify-content: center;
    /* Quebra de linha */
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /* Flex:0 elemento não se adapta, flex:1 se adapta */
    flex:1;
    min-width: 280px;
    max-width: 350px;
    transition: transform 0.3s;
}
.card:hover{
    /* Descola o card verticalmente */
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.card img{
    width: 100%;
    height: 200px;
    /* Cobre a div */
    object-fit: cover;
}
.card-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-content h3{
    color: #2c1810;
    font-size: 1.5rem;
}
.card-content p{
    color: #666;
    flex:1;
}
.price{
    font-size: 1.5rem;
    color: #d4a574;
    font-weight: bold;
}


.caixa-banner{
    background-color: rgba(0,0,0,0.4);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.caixa-banner h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.caixa-banner p{
    margin-bottom: 25px;
    font-size: 18px;
}

.caixa-banner button{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #e3d5ca;
    color: #4b2e2e;
    cursor: pointer;
    font-size: 16px;
}

.sobre{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.sobre img{
    width: 400px;
    border-radius: 20px;
}

.texto-sobre{
    max-width: 500px;
}

.texto-sobre h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.texto-sobre p{
    line-height: 30px;
}



.caixa img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.texto-caixa{
    padding: 20px;
}

.texto-caixa h3{
    margin-bottom: 10px;
}

.texto-caixa p{
    margin-bottom: 15px;
}

.galeria{
    padding: 80px;
    text-align: center;
}

.galeria h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.imagens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.imagens img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

footer{
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}